In [14]:
import pandas as pd
import numpy as np

In [15]:
# file_path = r'C:\Users\barnabas.nemeth\OneDrive - TeqBall KFT\Data Analysis\Datateq\Players\results_individuals.xlsx'

file_path = r'C:\Users\User\OneDrive - TeqBall KFT\Data Analysis\Datateq\Players\results_individuals.xlsx'

df = pd.read_excel(file_path)

In [16]:
df.head()

,Unnamed: 0,event_name,eventId,type,playerAName,associationPlayer_A,player_A_PlayerId,playerBName,associationPlayer_B,player_B_PlayerId,...,set3_AB,set3_XY,event_type,MatchWon,pointDifference,pointDifferenceSet1,pointDifferenceSet2,isThirdSet,pointDifferenceSet3,stage_name
0,0,Los Angeles Challenger Cup 2020,35,Open Doubles,Arpad Sipos,Hungary,1075.0,Balazs Imreh,Hungary,1268.0,...,0,0,Challenger Cup,1,15,9,6,0,-2147483648,1
1,1,Los Angeles Challenger Cup 2020,35,Open Doubles,Abraham Romero,United States,1560.0,Jorge Hernandez,United States,1561.0,...,0,0,Challenger Cup,1,13,7,6,0,-2147483648,1
2,2,Los Angeles Challenger Cup 2020,35,Open Doubles,Joao Barreto,Brazil,1553.0,Thiago Lusardi,Brazil,1554.0,...,0,0,Challenger Cup,1,10,7,3,0,-2147483648,1
3,3,Los Angeles Challenger Cup 2020,35,Open Doubles,Brian Esler,United States,1585.0,Carolyn Greco,United States,1584.0,...,0,0,Challenger Cup,0,-9,-2,-7,0,-2147483648,1
4,4,Los Angeles Challenger Cup 2020,35,Open Doubles,Arpad Sipos,Hungary,1075.0,Balazs Imreh,Hungary,1268.0,...,12,6,Challenger Cup,1,12,7,-1,1,6,1

In [17]:
df.columns

Index(['Unnamed: 0', 'event_name', 'eventId', 'type', 'playerAName',
       'associationPlayer_A', 'player_A_PlayerId', 'playerBName',
       'associationPlayer_B', 'player_B_PlayerId', 'playerXName',
       'associationPlayer_X', 'player_X_PlayerId', 'playerYName',
       'associationPlayer_Y', 'player_Y_PlayerId', 'stage', 'round',
       'matchDateTime', 'setsWon_A', 'setsWon_X', 'pointTotal_A',
       'pointTotal_X', 'set1_AB', 'set1_XY', 'set2_AB', 'set2_XY', 'set3_AB',
       'set3_XY', 'event_type', 'MatchWon', 'pointDifference',
       'pointDifferenceSet1', 'pointDifferenceSet2', 'isThirdSet',
       'pointDifferenceSet3', 'stage_name'],
      dtype='object')

In [18]:
df_group = df.groupby('playerAName').agg({
    'associationPlayer_A': 'count',
    'pointTotal_A': [('sum_pointTotal_A', 'sum'), ('average_pointTotal_A', 'mean')],
    'pointTotal_X': [('sum_pointTotal_X', 'sum'), ('average_pointTotal_X', 'mean')],
    'setsWon_A': [('sum_setsWon_A', 'sum'), ('average_setsWon_A', 'mean')],
    'setsWon_A': [('sum_setsWon_X', 'sum'), ('average_setsWon_X', 'mean')],
})

In [19]:
df_group.columns = [' '.join(col).strip() for col in df_group.columns.values]

In [20]:
df_group.columns

Index(['associationPlayer_A count', 'pointTotal_A sum_pointTotal_A',
       'pointTotal_A average_pointTotal_A', 'pointTotal_X sum_pointTotal_X',
       'pointTotal_X average_pointTotal_X', 'setsWon_A sum_setsWon_X',
       'setsWon_A average_setsWon_X'],
      dtype='object')

In [21]:
df_group

,associationPlayer_A count,pointTotal_A sum_pointTotal_A,pointTotal_A average_pointTotal_A,pointTotal_X sum_pointTotal_X,pointTotal_X average_pointTotal_X,setsWon_A sum_setsWon_X,setsWon_A average_setsWon_X
playerAName,,,,,,,
Aaly Bekturov,3,63,21.000000,69,23.000000,2,0.666667
Abdelkarim Karboudj,3,20,6.666667,72,24.000000,0,0.000000
Abdelmagid Tama,4,40,10.000000,82,20.500000,2,0.500000
Abdelwaly Ferhat,1,4,4.000000,24,24.000000,0,0.000000
Abdu Abdulghafour,3,79,26.333333,81,27.000000,4,1.333333
...,...,...,...,...,...,...,...
Zsombor Bene,56,1180,21.071429,1077,19.232143,66,1.178571
Zsombor Veres,8,89,11.125000,186,23.250000,2,0.250000
Zuzana Tomsova,6,71,11.833333,155,25.833333,1,0.166667
Zuzanna Nikisz,4,59,14.750000,106,26.500000,1,0.250000
Zweli Nxumalo,3,41,13.666667,72,24.000000,0,0.000000